.center {
    margin-left: center;
    margin-right: center;
    opacity: 0.6;
    padding-top: 1em;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}